
{% extends "layouts/base.html" %}

{% block title %} Tables {% endblock title %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

  <div class="content-wrapper">
    <div class="row">
      <div class="col-lg-12 grid-margin stretch-card">
        <div class="card">
          <div class="card-body">
            <h2 class="">{{ title }}</h2>
            <div>
              <a class="btn btn-primary" href="{% url 'daftar' %}">
                <i class="mdi mdi-plus"></i>
                Tambah</a>
            </div>
            <table class="table table-striped" id="example">
              <thead>
                <tr>
                    <th>#</th>
                    <th>Nama</th>
                    <th>Tgl. Lahir</th>
                    <!-- <th>JK</th> -->
                    <th>Prodi</th>
                    <th>Smt</th>
                    <!-- <th>HP/WA</th> -->
                    <th>Devisi</th>
                    <th>Opsi</th>
                </tr>
              </thead>
              <tbody>
                {% for anggota in object_list %}
                <tr>
                    <td>{{ forloop.counter }}</td>
                    <td>{{ anggota.nama }}</td>
                    <td>{{ anggota.tanggal_lahir }}</td>
                    <!-- <td>{{ anggota.jenis_kelamin }}</td> -->
                    <td>{{ anggota.prodi }}</td>
                    <td>{{ anggota.semester }}</td>
                    <!-- <td>0{{ anggota.nomor_hp }}</td> -->
                    <td>{{ anggota.devisi }}</td>
                    <td>
                      <a href="{% url 'detail' pk=anggota.id %}" class="btn btn-primary">
                        Details<i class="fa fa-book"></i>
                      </a>
                      <a href="{% url 'edit' pk=anggota.id %}" class="btn btn-warning m-1">
                        Edit<i class="fa fa-edit"></i>
                      </a><br>
                      <a href="{% url 'delete' pk=anggota.id %}" class="btn btn-danger">
                        Hapus.<i class="fa fa-remove"></i>
                      </a>
                      <a href="" class="btn btn-warning m-1">
                        ......<i class="fa fa-edit"></i>
                      </a><br>
                    </td>
                  </tr>
                  {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>

{% endblock content %}

<!-- Specific JS goes HERE -->
{% block javascripts %}

{% endblock javascripts %}
