
{% extends "layouts/base.html" %}

{% block title %} Tables {% endblock title %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}
<style>
    .clearfix::after {
        display: block;
        content: "";
        clear: both;
    }
</style>
{% endblock stylesheets %}

{% block content %}

<div class="content-wrapper">
    <div class="row">
        <div class="col-lg-12 grid-margin stretch-card">
            <div class="card">
                <div class="card-body">
                    <form method="post" action="daftar">
                        
                        {% csrf_token %}
                        {{ form.as_p }}
                        
                    <div class="d-flex justify-content-lg-center">
                        <div class="m-1">
                            <button type="submit" name="daftar" class="btn btn-primary btn-fw" value="OK">
                                <i class="mdi mdi-check"></i>
                                Daftar
                            </button>
                        </div>
                        <div class="m-1">
                            <button type="reset" name="batal" class="btn btn-danger btn-fw">
                                <i class="mdi mdi-cancel"></i>
                                Batal
                            </button>
                        </div>
                    </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>

{% endblock content %}

<!-- Specific JS goes HERE -->
{% block javascripts %}

{% endblock javascripts %}
