
{% extends "layouts/base.html" %}

{% block title %} Dashboard {% endblock title %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}
{% load staticfiles %}
  <center>
  <div class="content-wrapper">
    <img src="/static/assets/images/faces/itc.png" alt="" width="40%">
    <h2>
      <b>
        Selamat Datang di Unit Kegiatan Mahasiswa (UKM)<br> 
        Information Technology Community (ITC) <br>
        STMIK Syaikh Zainuddin NW Anjani
      </b>
    </h2>
    <div>
        <a class="btn btn-primary" href="{% url 'daftar' %}"><b>Daftar</b></a>
    </div>
  </div>
  <style>
    .content-grafik{
        margin-bottom: 10px;
    }
  </style>
  <!-- <div class="col-lg-12 grid-margin stretch-card">
    <div class="card">
      <div class="p-4 pr-5 border-bottom bg-light d-flex justify-content-between">
        <h4 class="card-title mb-0">Pie chart</h4>
        <id id="pie-chart-legend" class="mr-4"></id>
      </div>
      <div class="card-body d-flex">
        <canvas class="my-auto" id="anggota-charts" height="130"></canvas>
      </div>
    </div>
  </div> -->
  </center>
{% endblock content %}

{% block SCRIPT %}
    <script type="text/javascript">
        var chart1 = {
            chart: {
                renderTo: 'anggota-charts',
                plotBackgroundColor: null,
                plotBorderWidth: null,
                plotShadow: false,
                type: 'pie'
            },
            title: {
                text: 'Grafik Jumlah Anggota Berdasarkan Devisi'
            },
            tooltip: {
                pointFormat: '{series.name}: <b>{point.y} Anggota</b>'
            },
            accessibility: {
                point: {
                    valueSuffix: ' Anggota'
                }
            },
            plotOptions: {
                pie: {
                    allowPointSelect: true,
                    cursor: 'pointer',
                    dataLabels: {
                        enabled: true,
                        format: '<b>{point.name}</b>: {point.y} Anggota'
                    }
                }
            },
            series: [],
            credits: {
                enabled: false
            }
        };
        
        jQuery.getJSON("/AnggotaByDevisi", function(resSeries) {
            chart1.series.push(resSeries);
            new Highcharts.Chart(chart1);
        });
    </script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="{% static '/assets/highcharts/highcharts.js' %}"></script>
{% endblock %}
