{% extends 'layouts/basecal.html' %}

{% block title %}
Add EventMember
{% endblock %}

{% block content %}
<div class="content-wrapper">
  <div class="row">
    <div class="col-lg-6 grid-margin stretch-card">
      <div class="card">
        <div class="card-body">
          <div class="clearfix">
            <a class="btn btn-primary" href="{% url 'calendarapp:calendar' %}"> << Kembali </a>
          </div>
          <div class="p-2"></div>
          <div class="clearfix">
          <form method="post">
            {% csrf_token %}
            <table class="form form-table">
              {{ form.as_p }}
              <tr><td colspan="2"><button type="submit" class="btn btn-primary right m-2"> Buat </button></td></tr>
            </table>
          </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}